.header-container {
     width: 100%;
}

.header-container > .header-wrapper {
     width: 100%;
     max-height: 64px;
     min-height: 64px;
     display: flex;
     align-items: center;
     background: var(--main-yellow) 0% 0% no-repeat padding-box;
     opacity: 1;
     padding: 0 1em;
}

.header-container > .header-wrapper > .nav-item {
     display: flex;
}

.header-container > .header-wrapper > .nav-item:first-child {
     align-items: center;
}

.header-container > .header-wrapper > .nav-item:first-child > a {
     display: none;
     flex-direction: column;
     max-height: 1.25em;
     gap: 0.3em;
}

.header-container > .header-wrapper > .nav-item:first-child > a > span {
     min-width: 1.75em;
     height: 0;
     border: 3px solid #333333;
}

.header-container > .header-wrapper > .nav-item:last-child {
     flex-grow: 1;
}

.header-container > .header-wrapper > .nav-item > ul {
     padding: 0 6em;
     display: flex;
     align-items: center;
     margin-right: auto;
     list-style-type: none;
     gap: 2.5em;
}

.nav-item > ul > li > a {
     color: #333333;
     text-decoration: none;
     font-weight: bold;
     font-size: 20px;
}

.nav-item > .contact-btn {
     text-align: center;
     font-weight: bold;
     padding: 0.5em 1.7em;
     font-size: 20px;
     border-width: 0px;
     border-radius: 5px;
     background: var(--button-red);
     color: #ffffff;
}

@media (max-width: 992px) {
     .header-container > .header-wrapper {
          max-height: 120vh;
          flex-direction: column;
     }

     .header-container > .header-wrapper > .nav-item:first-child {
          padding: 0.5em;
          width: 100%;
     }

     .header-container > .header-wrapper > .nav-item:first-child > a {
          display: flex;
          margin-left: auto;
     }

     .header-container > .header-wrapper > .nav-item:last-child {
          /* display: none; */
          width: 100%;
          flex-direction: column;
     }

     .header-container > .header-wrapper > .nav-item > ul {
          flex-direction: column;
          margin-top: 1.5em;
          width: 100%;
     }

     .nav-item > .contact-btn {
          margin: 2em 0 3.75em 0;
     }
}

#nav-options-visible {
     display: flex;
}

#nav-options-invisible {
     display: none;
}
